/* Body Content */
div.body-content {
	padding: 50px 0;
	background-color: #FFF;
}

/* Thirds */
div.thirds {
	padding-bottom: 50px;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
}

div.one-third {
	/* width: 30%;
	float: left;
	margin-right: 5%; */
	/* flex: 1; */
	box-sizing: border-box;
	margin-bottom: 15px;
	width: 30%;
}

div.one-third-last {
	margin: 0;
}

/* Main Column */
div.main {
	width: 65%;
	float: left;
	margin-right: 5%;
}

/* Side Column */
div.side {
	width: 30%;
	float: left;
}

/* Info Box */
aside.info-box-a {
	background-color: #9bdaef;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
}

aside.info-box-b {
	background-color: #a0f4f5;
	padding: 20px;
	font-size: 13px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}

.one-third img:hover{
	width: 500px;
	height: 250px;
}